body {
    font-family: 'Lato', sans-serif;
    position: relative;
}

.pos-r {
    position: relative;
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.margin-t-100 {
    margin-top: 100px;
}
.margin-t-75 {
    margin-top: 75px;
}
.margin-t-50 {
    margin-top: 50px;
}
.margin-t-25 {
    margin-top: 25px;
}
.margin-b-100 {
    margin-bottom: 100px;
}
.margin-b-75 {
    margin-bottom: 75px;
}
.margin-b-50 {
    margin-bottom: 50px;
}
.margin-b-25 {
    margin-bottom: 25px;
}

.padding-t-100 {
    padding-top: 100px;
}
.padding-t-75 {
    padding-top: 75px;
}
.padding-t-50 {
    padding-top: 50px;
}
.padding-t-25 {
    padding-top: 25px;
}

.padding-b-100 {
    padding-bottom: 100px;
}
.padding-b-75 {
    padding-bottom: 75px;
}
.padding-b-50 {
    padding-bottom: 50px;
}
.padding-b-25 {
    padding-bottom: 25px;
}

.text-shadow {
    text-shadow: 5px -1px 15px rgba(0, 0, 0, 1);
}

.short-line {
    width:50px;
    height: 4px;
    background-color: #fff;
    margin: 0 auto 50px;
}

.short-line-black {
    width:50px;
    height: 4px;
    background-color: #727987;
    margin: 0 auto 50px;
}

.highlight a{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 10px;
    padding: 3px 5px;;
}

.test2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 1;
}
.test {
    
    animation-name: test;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: rgba(148, 144, 144, 0.8);
}

@keyframes test {
    from {height: 0px}
    to {height: 40px}
}

.test-reverse {
    
    animation-name: test-reverse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: rgba(148, 144, 144, 0.8);
}

@keyframes test-reverse {
    from {height: 40px}
    to {height: 0px}
}

.index{
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    text-align: center;
    background-image: url(../images/index-pen.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


nav{
    top: 380px;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;;
}

.pos {
    position: fixed;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    transform-origin: center center;
    transform: rotate(90deg);

}

nav li {
    transform: rotate(-90deg);
    display: inline-block;
    margin: 0 0px 0 -60px;
    width: 100px;
}

nav a {
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
    text-decoration: none;
}

.change-color {
    animation-name: color-black;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes color-black {
    from {color: #fff;
        text-shadow: 5px -1px 15px rgba(0, 0, 0, 1)}
    to {color: #000; 
        text-shadow: 5px -1px 15px rgba(0, 0, 0, 0)}
}

.change-color-reverse {
    animation-name: color-white;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    text-shadow: 5px -1px 15px rgba(0, 0, 0, 1)
}

@keyframes color-white {
    from {color: #000;
        text-shadow: 5px -1px 15px rgba(0, 0, 0, 0)}
    to {color: #fff;
        text-shadow: 5px -1px 15px rgba(0, 0, 0, 1)}
}

.rise {
    animation-name: rise;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes rise {
    from {top: 380px; }
    to {top: 0px; float: right;}
}

.rise-reverse {
    animation-name: rise-reverse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes rise-reverse {
    from {top: 0px;}
    to {top: 28.5em; }
}

.rotateli {
    animation-name: rotateli;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes rotateli {
    from {transform: rotate(90deg); padding: 0px; margin: 0 0px 0 -60px; width: 100px}
    to {transform: rotate(0deg); padding: 10px; margin: 0 0px 0 0px; width: auto;}
}

.rotateli-reverse {
    animation-name: rotateli-reverse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes rotateli-reverse {
    from {transform: rotate(0deg); padding: 10px;}
    to {transform: rotate(-90deg); padding: 0px;}
}

.rotateul {
    animation-name: rotateul;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes rotateul {
    from {transform: rotate(-90deg);}
    to {transform: rotate(360deg);}
}

.rotateul-reverse {
    animation-name: rotateul-reverse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes rotateul-reverse {
    from {transform: rotate(0deg);}
    to {transform: rotate(450deg);}
}

@media (max-width: 767px) {
    .index h2, .index h1 {
        margin-top: 2em;
    }
}

.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.fa-arrow-down {
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    animation-name: arrow-color;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.fa-arrow-down:hover {
    font-size: 55px;
}

@keyframes arrow-color {
    from {color: #fff;}
    to {color: rgba(255,255,255,.4);}
}



/* ##########################    MOBILE NAV */
/*  spinning burger menu */

#menu-bars {
    background-color: rgba(255,255,255,.5);
    right: 20px;
    top: 20px;
    display: inline-block;
    padding: 5px;
    position: fixed;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    z-index: 4;
    border-radius: 5px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    position: absolute;
    width: 34px;
    height: 5px;
    border-radius: 3px;
    background-color: #000;
}

.bar1 {
    top: 5px;
    left: 5px;
}
.bar2 {
    top: 17.5px;
    left: 5px;
}
.bar3 {
    top: 30px;
    left: 5px;
}

.bar1-animate {
    animation-name: bar1;
}
.bar2-animate {
    animation-name: bar2;
}
.bar3-animate {
    animation-name: bar3;
}
.bar1-animate-r {
    animation-name: bar1r;
}
.bar2-animate-r {
    animation-name: bar2r;
}
.bar3-animate-r {
    animation-name: bar3r;
}

.forwards {
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-direction: reverse;
}

.backwards {
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-direction: normal;
}


@keyframes bar1{
    0% {
        top: 5px;
        left:5px;
          width: 34px;
        height:5px;
    }
    50% {
        top: 17.5px;
        width:0px;
        height:0px;
        left:22.5px;
    }
    100% {
        top: 2.5px;
        width:35px;
        height:35px;
        left:5px;
        border-radius: 100px;
        background-color: rgba(255,255,255,0);;
        border: 2px solid #000;
}
}
@keyframes bar2 {
    0% {
        width: 34px;
        left:5px;
        height:5px;
    }
    50% {
        width:0px;
        height:0px;
        left:22.5px;
        transform: rotate(0deg)
    }
    100% {
        top: 18px;
        width:25px;
        height:2px;
        left:10px;
        transform: rotate(405deg)
    }
}
@keyframes bar3 {
    0% {
        top: 30px;
        left:5px;
        width: 34px;
        height:5px;
    }
    50% {
        top: 17.5px;
        width:0px;
        height:0px;
        left:22.5px;
        transform: rotate(0deg)
    }
    100% {top: 18px;
        width:25px;
        height:2px;
        left:10px;
        transform: rotate(675deg)
    }
}
@keyframes bar1r{
    0% {
        top: 5px;
        left:5px;
          width: 34px;
        height:5px;
    }
    50% {
        top: 17.5px;
        width:0px;
        height:0px;
        left:22.5px;
    }
    100% {
        top: 2.5px;
        width:35px;
        height:35px;
        left:5px;
        border-radius: 100px;
        background-color: rgba(255,255,255,0);;
        border: 2px solid #000;
}
}
@keyframes bar2r {
    0% {
        width: 34px;
        left:5px;
        height:5px;
    }
    50% {
        width:0px;
        height:0px;
        left:22.5px;
        transform: rotate(0deg)
    }
    100% {
        top: 18px;
        width:25px;
        height:2px;
        left:10px;
        transform: rotate(405deg)
    }
}
@keyframes bar3r {
    0% {
        top: 30px;
        left:5px;
        width: 34px;
        height:5px;
    }
    50% {
        top: 17.5px;
        width:0px;
        height:0px;
        left:22.5px;
        transform: rotate(0deg)
    }
    100% {top: 18px;
        width:25px;
        height:2px;
        left:10px;
        transform: rotate(675deg)
    }
}

/*  spinning burger menu */
/*  blind down navmenu */
.mobile-nav {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    padding:70px 10px 10px 10px;
    background-color: rgb(129, 129, 139);
    border-radius: 5px;
    z-index: 3;
    display: none;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.mobile-nav li {
    padding: 20px 0;
}

.mobile-nav a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.mobile-nav a:hover {
    color: #fff;
    text-decoration: none;
}
/*  blind down navmenu */

/* ##########################    ABOUT ME */
.about-me {
    min-height: 100vh;
}

.about-me p {
    color: #fff;
}

.h2-outer {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.h2-outer h2 {
    background-color: #8F8F8F;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
}

.about-me-outer {
    position: relative;
    background-color: #8F8F8F;
    padding: 70px 50px 50px; 
    outline: 2px solid #C3C3C3;
    outline-offset: -40px;
}

.long-line {
        width:200px;
        height: 2px;
        background-color: #000;
    
}

.about-me-left {
    background-image: linear-gradient(to right, rgb(124, 121, 121), white);
    min-height: 100vh !important;
    text-align: left;
}

.about-me-description {
    
    margin-top: 100px;
}

.about-me-description p {
    font-size: 18px;
}

@media (max-width: 767px) {
    .about-me {
        min-height: auto !important;
    }
    .about-me-left {
        background-image: url(../images/profile-glass.jpg);
    background-attachment: fixed;
    background-position: 85% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: auto !important;
    }

    .about-me-description {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px 0px 0;
    }

    .about-me-outer {
        background-color: rgba(143, 143,143,.9);
        padding: 20px 30px 30px;
        outline: 2px solid #C3C3C3;
        outline-offset: -20px;
    }

    .h2-outer {
        position: relative;
        margin-bottom: 20px;

    }

    .h2-outer h2 {
        background-color: rgba(255,255,255,0);
    }
}

.about-me-right {
    
    background-image: url(../images/profile-glass.jpg);
    background-attachment: fixed;
    background-position: 85% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:100vh!important;
}

/* ##########################    SKILLS */
.skills h3 {
    border-radius: 100px;
    background-color:  rgba(255,255,255,.9);
    display: inline-block;
    padding: 5px 10px;
}

.skills {
    /*BACKGROUND-ATTACHMENT AND BACKGROUND-SIZE ARE SET IN javascript.js AS A FIX TO EDGE BACKGROUND IMAGE TURNING DISAPPEARING*/
    background: url(../images/skills.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .skills {
        padding-bottom: 50px;
    }
}

.progress {
    height: 25px;
    margin-bottom: 20px;
    background-color: #8699ad !important;
    border-radius: 20px !important;
}

.progress-type {
    position:absolute;
    left: 0px;
    padding: 3px 2px;
    width: 100px;
    font-weight: bold;
}

.progress-bar {
    border-radius: 20px;
}

.html {
    background-color: #e34c26 !important;
    width:90%;
}
.css {
    background-color: #3b5998 !important;
    width:90%;
}
.scss {
    background-color: #c6538c !important;
    width:70%;
}
.javascript {
    background-color: #f7df1e !important;
    width:70%;
}
.jquery {
    background-color: #7acef4 !important;
    width:80%;
}
.django {
    background-color: #0C4B33 !important;
    width:70%;
}
.mongo {
    background-color: #4DB33D !important;
    width:70%;
}
.mysql {
    background-color: #f29111 !important;
    width:60%;
}
.bootstrap {
    background-color: #563d7c !important;
    width:90%;
}
.git {
    background-color: #f34f29 !important;
    width:80%;
}
.python {
    background-color: #306998 !important;
    width:80%;
}

.flask {
    background-color: #000 !important;
    width:70%;
}

/* ############################ HISTORY */

.overlay-white {
    background-color: rgba(255, 255, 255, .45);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.work-history {
    /*BACKGROUND-ATTACHMENT AND BACKGROUND-SIZE ARE SET IN javascript.js AS A FIX TO EDGE BACKGROUND IMAGE TURNING DISAPPEARING*/
    background-image: url(../images/history1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    min-height:100vh!important;
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

.work-history > div {
background-color: rgba(255,255,255,.9);
border-radius: 10px;
padding-bottom: 25px;
}

.history-left {
    border-left: 2px solid #8F8F8F;
    padding: 1em .18em;
}

.timeline-item {
    position: relative;
    background: #C3C3C3;
    margin: 0em 0em 0em 1.5em;
    padding: 5px 0 5px 10px;;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 350ms ease-in-out; 
    border-radius: 5px;
}

.dates {
    font-size: 13px;
}
.position {
    font-size: 15px;
}
.company {
    font-size: 14px;
}

.timeline-item p {
    padding: 0;
    float: none;
    color: #000;
    margin: 0;
}

.timeline-item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: #8F8F8F;
    top: 35px;
    left: -24px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.timeline-item::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #C3C3C3;
    border: 2px solid #727987;
    top: 26px;
    left: -35px;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.timeline-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 15px -1px rgba(0,0,0,0.7);
}

.white-disc::after {
    background-color: #fff !important; 
}

.history-description:not(:first-child) {
    display: none;
}

.history-description div {
    text-align: left;
}

.work-history h2 {
    color: #5f6266;
}

.work-history h4 {
    color: #5f6266;
}

.history-right-parent {
    display: flex;
    color: #000;
    border: 2px solid #727987;
    padding: 0 15px;
    position: relative;
}


.history-right-child {
    margin:8% auto 0;
}


.underline {
    margin: 10px auto 25px;
    width: 200px;
    height: 2px;
    background-color: #727987;
}

/* ############################ MOBILE HISTORY */

.accordion .card {
    margin: 0em 0em 1em 1.5em;
}

.card-head {
    position: relative;
    background: #C3C3C3;
    
    padding: 5px 0 5px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 350ms ease-in-out; 
    border-radius: 5px;
}

.card-head p {
    padding: 0;
    float: none;
    color: #000;
    margin: 0;
    cursor: pointer;
}

.card-head::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: #8F8F8F;
    top: 35px;
    left: -24px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-head::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #C3C3C3;
    border: 2px solid #727987;
    top: 26px;
    left: -35px;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-head::after:hover {
    background-color: #fff;
}

.card-head:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 15px -1px rgba(0,0,0,0.7);
}

/* ############################ PROJECTS */
.projects {
    background-image: url(../images/projects1.jpeg);
    background-attachment: fixed;
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh!important;
    position: relative;
}
.projects h2 {
    color: #fff;
}

.card {
    margin: 0 auto 25px;
    background-color: rgba(255,255,255,.8) !important;
}

.card p {
    margin: 0;
}
.projects ul {
    columns: 2;
    padding-bottom: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-2 {
    display: flex;
    padding: 0 2.5em 0 !important;
}

.inner-flex {
    flex: 1;
    width: 100%;
}

.icons {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 10px;
}

.project-icon {
    display: inline-block;
    font-size: 30px;
    color: #8F8F8F;
    margin: 0px 15px;
    width: 50px;
    height: 50px;
    line-height: 55px;
    background-color: #C3C3C3;
    border-radius: 100px;
    }
    
    .project-icon:hover {
        color: #564F6F;
    }

/* ############################ CONTACT */

.contact {
    background-image: url(../images/phone2.jpg);
    background-attachment: fixed;
    background-position: 85% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh!important;
    position: relative;
}

.contact h2 {
    color: #000;
    display: inline-block;
    background-color: rgba(255,255,255,.7);
    border-radius: 100px;
    padding: 5px 200px 5px 20px;
}

@media (max-width: 767px) {
    .contact h2 {
        padding: 5px 20px 5px 20px;
    }

    .contact {
        padding-bottom: 100px;
    }
}

.contact-left {
    padding-top: 100px;
}

.overlay {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button{
	text-align:center;
	padding: 5px 10px;
	display:block;
	
	cursor:pointer;
	color:#F0F0F0;
	border-radius:10px;
	border-bottom:4px solid #8c3b28;
	box-shadow: 6px 6px 6px #ada5a57a;
	
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	background: -webkit-linear-gradient(#f34f29, #f53d14);
    background: -o-linear-gradient(#f34f29, #f53d14);
    background: -moz-linear-gradient(#f34f29, #f53d14);
    background: linear-gradient(#f34f29, #f53d14);
	
	-webkit-transition: background 0.05s linear;  
    -moz-transition: background 0.05s linear;  
    -o-transition: background 0.05s linear;  
    transition: background 0.05s linear;
	
	background-size:1px 200px;
	
	transition: all .05s linear;
}

.btn {
    color: #fff;
}

.button:hover{
	background-position:100px;
}

.button:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
}

#message-response {
    margin-top: 10px;
    background-color: #fff;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 5px;
}

.fa-check {
    color: rgb(28, 179, 5);
    font-size: 25px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    text-align: center;
}

footer > div {
    display: inline-block;
}

footer p {
    margin: 10px 0 0 ;
    padding-bottom: 10px;
    color: #fff;
    
}

footer a {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: #8F8F8F;
}

footer a:hover {
    color: #8F8F8F;
    background-color: #fff;

}

@media (max-width: 767px) {
    footer {
        height: 105px;
    }

    footer p {
        padding-bottom: 0;
    }
}

.cv-box {
    position: relative;
}

.cv-arrow {
    
    position: absolute;
    right: -160px;
    top: -62px;
    transform: rotate(-35deg);
    animation-name: move-arrow;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.cv-arrow span {
    font-size: 16px;
    color: #fff;
}

.fa-arrow-left {
    color: #fff;
    font-size: 30px;
}


@keyframes move-arrow {
    from {right: -160px;
        top: -62px;}
    to {right: -170px;
        top: -72px;}
}