{% block aboutme %}
<span id='about-me'></span>
<div class='about-me container-fluid'>

    <div class="row">

        <div class="col-12 col-sm-6 center about-me-left">

            <div class="about-me-description margin-t-100 ">
                <h2 class=''>About Me</h2>
                <div class="long-line margin-b-50"></div>
                <p>I am a Student of Code Institute working with
                    front-end and back-end
                    frameworks.</p>
                <p>I specialise in HTML, CSS, JavaScript, and Python languages, using Django and Flask frameworks.
                    Passionate about creating a positive user experience, I enjoy working with and adapting to
                    technologies as they develop.</p>

            </div>

        </div>
        <div class="col-12 col-sm-6 center about-me-right">
        </div>

    </div>
</div>

{% endblock %}