{% block aboutme %}
<span id='about-me'></span>
<div class='about-me container-fluid'>

    <div class="row">

        <div class="col-12 col-sm-6 center about-me-left">

            <div class="about-me-description ">
                <div class="about-me-outer">
                    <div class="h2-outer">
                        <h2 class=''>About Me</h2>

                    </div>
                    <p>I am a Student of Code Institute working with
                        front-end and back-end
                        frameworks.</p>
                    <p>I specialise in HTML, CSS, JavaScript, and Python languages, using Django and Flask
                        frameworks.
                        Passionate about creating a positive user experience, I enjoy working with and adapting to
                        new
                        technologies as they develop.</p>

                </div>

            </div>

        </div>
        <div class="col-12 col-sm-6 center about-me-right d-none d-sm-block">
        </div>

    </div>
</div>

{% endblock %}