{% block aboutme %}
<span id='about-me'></span>
<div class='about-me container-fluid'>

    <div class="row">

        <div class="col-12 col-sm-6 center about-me-left">

            <div class="about-me-description ">
                <div class="about-me-outer">
                    <div class="h2-outer">
                        <h2 class=''>About</h2>

                    </div>
                    <p>Hello and welcome, </p>
                    <p>I'm Brett, a Full Stack web development student from Code
                        Institute.</p>
                    <p>Hailing from Adelaide, Australia, I've spent the last 8 months immersing myself in the art of
                        writing code. <br>Throughout my study I have become accustom to using the languages HTML 5, CSS
                        3,
                        JavaScript, and
                        python, as well as the Django and Flask
                        frameworks.<br>
                        It's my goal to create a positive user experience and continue to keep up to date with new
                        emerging technologies.</p>
                    <p>If you see something you like then please contact me using the form at the bottom of
                        this site.
                    </p>


                </div>

            </div>

        </div>
        <div class="col-12 col-sm-6 center about-me-right d-none d-sm-block">
        </div>

    </div>
</div>

{% endblock %}