<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brett Cutting | Full Stack Web Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="HTML,CSS,JavaScript,JSON,Python,Django,Flask">
    <meta name="author" content="Brett Cutting">
    <meta property="og:image"
        content="https://github.com/brettcutt/online-cv/blob/master/static/images/online-cv-img.jpg?raw=true">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>

</head>

<body>

    {% block content %}
    {% endblock %}

    <footer>
        <div>
            <i class="fa fa-eye d-none d-md-block" aria-hidden="true"> {{ views.views }}</i>
            <a class='inline' href="https://www.facebook.com/brett.cutting.5" target="_blank"><i
                    class="fa fa-facebook-f"></i></a>
            <a class='inline' href="https://github.com/brettcutt/" target="_blank"><i class="fa fa-github"></i></a>
            <div class='inline cv-box'>
                <a class='inline' href="static/cv/resume-08-02-2019.pdf" target="_blank"><i class="fa fa-file-pdf-o"
                        aria-hidden="true"></i></a>
                <div class="cv-arrow d-none d-sm-block">


                    <div><span><i class="fa fa-arrow-left inline" aria-hidden="true"></i> Traditional CV here!</span>
                    </div>
                </div>
            </div>
            <br>

            <p class="web-developer">©2018 | Web development by Brett Cutting </p>

        </div>

    </footer>
    <script src='static/js/javascript.js'></script>
    <script src='static/js/send-email.js'></script>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/jquery/jquery-3.3.1.min.js"></script>
    <script src="static/jquery/jquery-ui.js"></script>
    <script src="static/jquery/jquery.js"></script>
</body>

</html>