{% extends 'base.html' %}{% block content %}
<div class="test2 test-reverse"></div>
<span id="home"></span>
<div class='index'>

    <div>
        <h1>Brett Cutting</h1>

        <h2>Full Stack Web Developer</h2>
        <span id="home1"></span>
    </div>
    <div class="nav">
        <nav class="nav-bar rise-reverse">
            <ul class='nav-list rotateul-reverse'>
                <li class='nav-item  rotateli-reverse'>
                    <a class='change-color-reverse' href=' #home'>Home</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse' href=' #about-me'>About Me</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse' href=' #skills'>Skills</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse' href=' #history'>History</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse' href='#projects'>Projects</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse' href='#contact'>Contact</a>
                </li>
            </ul>
        </nav>

    </div>

</div>

{% block aboutme %}
{% include 'about_me.html' %}
{% endblock %}


{% block skills %}
{% include 'skills.html' %}
{% endblock %}

{% block history %}
{% include 'history.html' %}
{% endblock %}

{% block projects %}
{% include 'projects.html' %}
{% endblock %}

{% block contact %}
{% include 'contact.html' %}
{% endblock %}

{% endblock %}