{% extends 'base.html' %}{% block content %}
<div class="test2 test-reverse d-none d-sm-block"></div>
<span id="home"></span>
<div class='index'>

    <div>
        <h1>Brett Cutting</h1>

        <h2>Full Stack Web Developer</h2>
    </div>

    <div class="nav d-none d-sm-block">
        <nav class="nav-bar rise-reverse ">
            <ul class='nav-list rotateul-reverse'>
                <li class='nav-item  rotateli-reverse'>
                    <a class='change-color-reverse scroll' href=' #home'>Home</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse scroll' href=' #about-me'>About Me</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse scroll' href=' #skills'>Skills</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse scroll' href=' #history'>History</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse scroll' href='#projects'>Projects</a>
                </li>
                <li class='nav-item rotateli-reverse'>
                    <a class='change-color-reverse scroll' href='#contact'>Contact</a>
                </li>
            </ul>
        </nav>

    </div>

    <!--  spinning burger menu -->
    <div id="menu-bars" class="bars d-block d-sm-none">
        <div class='bar1 forwards'></div>
        <div class='bar2 forwards'></div>
        <div class='bar3 forwards'></div>
    </div>
    <!--  spinning burger menu -->

    <!--  blind down navmenu -->
    <div class="mobile-nav" id="collapse">
        <ul>
            <li>
                <a href=' #home'>Home</a>
            </li>
            <li>
                <a href=' #about-me'>About Me</a>
            </li>
            <li>
                <a href=' #skills'>Skills</a>
            </li>
            <li>
                <a href=' #history'>History</a>
            </li>
            <li>
                <a href='#projects'>Projects</a>
            </li>
            <li>
                <a href='#contact'>Contact</a>
            </li>
        </ul>
    </div>
    <!--  blind down navmenu -->

    <span id="home1"></span>
</div>

{% block aboutme %}
{% include 'about_me.html' %}
{% endblock %}


{% block skills %}
{% include 'skills.html' %}
{% endblock %}

{% block history %}
{% include 'history.html' %}
{% endblock %}

{% block projects %}
{% include 'projects.html' %}
{% endblock %}

{% block contact %}
{% include 'contact.html' %}
{% endblock %}

{% endblock %}